# Qt Creator
.qtcreator/
*.pro.user
*.qmlproject
*.user

# Build directories
build*/
cmake-build-*/
Debug/
Release/
out/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# OS
.DS_Store
Thumbs.db
desktop.ini
